<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhYcyolev6bpizZP_elk7OZ4Hk4FW14h8</string>
	<key>GCM_SENDER_ID</key>
	<string>170853264349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appletrade.apple-trade</string>
	<key>PROJECT_ID</key>
	<string>appletrade2-734d3</string>
	<key>STORAGE_BUCKET</key>
	<string>appletrade2-734d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170853264349:ios:288e07fe1077361eec6434</string>
	<key>DATABASE_URL</key>
	<string>https://appletrade2-734d3-default-rtdb.firebaseio.com</string>
</dict>
</plist>